body
{
background-color: #3355FA; 
color: white;
font-size: 22px;
}

h1{
font-size:24px;
text-align: center;
}

#michal
{
width: 120px;
margin: 0 auto;
}


#dane_os{
background-color: #3355FA;
float: left;
border: 1px solid black;
width: 350px;
text-align: left;
min-height: 280px;
}


.naglowki{
background-color: #2600E6;
border: 1px solid black;
padding-left: 25px;    
}

#doswiadczenie{
float: left;
width: 600px;
text-align: left;
min-height: 280px;
border: 1px solid black;
}

#formularz{
float: left;
width: 600px;
text-align: left;
min-height: 280px;
border: 1px solid black;
}

p{
font-size: 18px;
padding-left: 25px;

}

.walidacja{
    font-size: 18px;
    padding-left: 25px;  
}

#data_ur{
font-size: 18px;
padding-left: 25px;
font-style: italic;
}


#adres, #email, #tel{
font-size: 18px;
padding-left: 25px;
font-style: italic;
color: white;
}

#lista_um{
padding-left: 5px;
padding-right: 5px;
font-style: italic;
list-style-type: circle;
}

a{
color: white;
}

a:hover{
color: black;
background-color: gray;
}

table, td{
font-size: 18px;
border: 1px solid black;
width: 550px;
margin: auto;
}

    input:hover, button:hover{
    cursor: pointer;
    background-color: gray;
    }